/* details.css */

/* Style for the container div */
.container {
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
  padding: 30px;
  background-color: rgb(53, 10, 10);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.container * {
  color: white;
}

::placeholder {
  color: rgb(173, 171, 171);
}

.container input {
  background-color: #793636;
  border: 1px solid rgb(160, 14, 14);
  color: white;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Center the content vertically and horizontally */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

/* popup */

/* details.css */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  text-align: left;
  position: relative;
}

.hidden {
  display: none;
}

.styled-table {
  /* border-collapse: collapse; */
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  /* You can adjust the maximum width as needed */
}

.styled-table th {
  background-color: rgb(153, 79, 79);
  color: white;
  padding: 8px;
  text-align: left;
}

.styled-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.styled-table tr:nth-child(even) {
  background-color: rgb(173, 54, 54);
  color: white;
}

.styled-table tr:nth-child(odd) {
  background-color: rgb(110, 52, 52);
  color: white;
}

.styled-table td:first-child {
  font-weight: bold;
  color: black;
}