.home-container {
    text-align: center;
    background-color: #5B031B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

#showtm{
    display: flex;
}

.maindiv img{
    width: 150px;
    margin-top: -15px;
    margin-left:-25px ;
}

.home-container h4 {
border: 2px solid white;
border-radius: 5px;
}

.home-container>h3{
    background-color: #fffefe;
    color: #5B031B;
    border: 2px solid white;
    border-radius: 5px;
    width: fit-content;
    /* text-align: center; */
    margin: auto;
    padding: 0 50px 0 50px;
    /* justify-content: center; */
    }

    .home-container .sshowtime{
        position: absolute;
        background-color: #6d142c;
        width: fit-content;
        text-align: center;
        border: none;
        margin: auto;
        padding: 5px 60px 5px 60px;
        margin-top: -15px;
        margin-left: 13%;
    }

.maindiv{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #5B031B;
    border-radius: 5px;
}
.maindiv h1{
    color: white;
}

.date-buttons>button {
    width: 60px;
    color: white;
    /* background-color: #cf565c; */
    margin: auto;
    font-size: 15px;
}

label {
    margin-left: 10px;
    color: #1b1b1b;
}

p {
    color: #0f0f0f;
}

button {
    background-color: #c1c6d1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #b3060e;
    color: white;
}

.mvbtn {
    margin: auto;
    /* background-color: #771717; */
    color: white;
}

.mvdiv button {
    margin-top: 5px;
    margin-left: 5px;
    gap: 20px;
}

.showdiv{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 20px 10px 10px 10px;
    gap: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #fce9e9;
    border-radius: 5px;
    color: #5B031B;
    font-weight: bolder;
    font-size: 15px;
    /* margin-top: -13px; */
}

.active {
    color: white !important;
    background-color: #660e12 !important;

}

.mvdiv {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Distribute items evenly */
    gap: 3px; /* Gap between items */
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    margin: 0 auto; /* Center the container if needed */
}

.mvdiv > div {
    flex: 0 0 calc(33.33% - 3px); /* Calculate width for up to 3 posters per line with gap */
    width: fit-content;
}

.mvdiv div{
    border-radius: 10px;
}

img{
    border-radius: 10px;
}

/* Slider container */
.date-buttons {
    display: flex;
    align-items: center;
  }

  .date-buttons > :first-child , .date-buttons > :nth-child(3) {
    /* background-color: #6d1a41; */
    font-size: 30px;
    margin-top: 11px;
  }
  
  /* Slider content container */
  .slider {
    overflow: hidden;
    flex: 1;
  }
  
  /* Individual date buttons */
  .slider-content {
    display: flex;
    transition: transform 0.3s;
  }
  
  .date-buttons button {
    flex: 0 0 20%; /* Adjust the width as needed */
    text-align: center;
    padding: 0.5rem;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    border: 1px solid black; 
    margin-left: 4px;
    width: 60px;
  }
  
  /* Active date button */
  .date-buttons button.active {
    background-color: #270204; /* Adjust the background color for the active button */
    color: #fff;
  }
  
  /* Disable Previous button if at the beginning */
  .date-buttons button:first-child:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Disable Next button if at the end */
  .date-buttons button:last-child:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .logoutbtn{
   width: 70px;
   padding: 8px;
   font-size: 12px;
   background-color: white;
   font-weight: bolder;
   color: #5B031B
  }
  .adbook{
    display: flex;
    margin: auto;
    width: fit-content;
    margin-top: -10px;
  }
  .adbook h4{
    padding: 7px 20px 7px 7px;
  }