.home-container {
    text-align: center;
    background-color: #eec4c4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

#showtm{
    display: flex;
}

.maindiv{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    background-color: #94030a;
    border-radius: 5px;
}
.maindiv h1{
    color: white;

}
.date-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    justify-content: space-evenly;
    gap: 3px;
}

.date-buttons>button {
    width: 60px;
    color: white;
    margin: auto;
    font-size: 15px;
}

label {
    margin-left: 10px;
    color: #1b1b1b;
}

p {
    color: #0f0f0f;
}

button {
    background-color: #c1c6d1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #b3060e;
    color: white;
}

.mvbtn {
    margin: auto;
    background-color: #7b93ad;
    color: #0f0f0f;
}

.mvdiv button {
    margin-top: 5px;
    margin-left: 5px;
    gap: 20px;
}

.showdiv{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fce9e9;
    border-radius: 5px;
}

.active {
    color: white !important;
    background-color: #a3020a;
}

.mvdiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;  
    width: max-content;
}

.mvdiv div{
    border-radius: 10px;
}

img{
    border-radius: 10px;
}