/* Login.css */
.login-container {
    width: 300px;
    color: black;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginbtn {
    width: 100%;
    padding: 10px;
    background-color: #007afd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .loginbtn:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
    font-size: 16px;
  }