/* Login.css */
.login-container {
  width: 300px;
  color: black;
  margin: auto;
  margin-top: 150px;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
}

body {
  background-color: #470408;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginbtn {
  width: 90%;
  padding: 10px;
  background-color: white;
  color: #580d0d;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  font-size: 16px;
}

.background-posters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.movie-pos {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: posterAnimation 20s infinite linear;
}

.poster1 {
  animation-delay: 0s;
}

.poster2 {
  animation-delay: 4s;
}

.poster3 {
  animation-delay: 8s;
}

.poster4 {
  animation-delay: 12s;
}

.poster5 {
  animation-delay: 16s;
}

.poster6 {
  animation-delay: 20s;
}

.poster7 {
  animation-delay: 24s;
}

.poster8 {
  animation-delay: 28s;
}

/* Define styles for posters 3 through 7 similarly */

@keyframes posterAnimation {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(99, 2, 2, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  text-align: center;
}

.golog a{
  color: rgb(126, 14, 14);
}

.golog{
  background-color: #5B031B;
  padding: 20px;
}

.golog {
  border: 30px solid transparent;
  padding: 15px;
  text-align: center;
  border-image: url('https://i.postimg.cc/3JGscFF2/Border.png') 30 round;
  /* height: 630px; */

}
.golog h1{
  color: white;
  font-size: 50px;
  text-align: center;
}

.golog button{
  text-align: center;
  background-color: white;
  color: #5B031B;
  font-size: 10px;
  width: 200px;
  border-radius: 20px;
}